<!doctype html>
<title>Reload Camera</title>
<link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
<body onload='reLoad()'>
<nav>
  <h1>Quit/Restart</h1>
<hr/>
<a onclick="window.open(this.href); window.open('http://localhost:5000', '_self', '').close(); return false;"> ReLoad</a>
<script>
  function reLoad(){
  location.reload('http://localhost:5000');

}
</script>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
</body>
