<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Sensor Fusion</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <meta http-equiv="content-type" content="text/html;charset=utf-8" >
    <link rel='stylesheet', href='/static/css/style.css'>
    <link rel='stylesheet', href='/static/css/sidenav.css'>
    <script src='/static/js/globals.js'></script>
    <script src='/static/js/utilities.js'></script>
    <script src='/static/js/sidenav.js'></script>
    <script src='/static/js/data.js'></script>
    <script src='/static/js/index.js'></script>
    <meta http-equiv="Cache-d" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="-1"/>
</head>
<body onload=init();>
 <form action = 'http://localhost:5000' method = 'post'>
   <input type='text' name='command' id='command' />
  <h4>Welcome to Sensor Fusion!</h4>
  <noscript>
    You need to enable JavaScript to run Sensor Fusion!
  </noscript>
   <div id ='info-canvas'> 
     <img class='' onclick='toggleCamera();' id='infoCam' src="/static/assets/MVP0-SingleSensorCameraOFF.png" width="100%" style="display:none;position:absolute;top:0px;height:100%;z-index:1">
     <img class='' onclick='close_info();' id='infoPic' src="/static/assets/MVP0_Tutorial_001.png" width="100%" style="display:none;position:absolute;top:0px;height:100%;z-index:1">
   
   </div> 
  <div class='grid' id='cd-main-content'>
  <section class ="header">
      <div id='topnav'>
       <table><tr>  
          <td style='position:absolute;top:1%;left:3%;text-align: center'><img class='logo' src='/static/assets/sensor_fusion_logo_001.png'/></td>
          <td style='position:absolute;top:1%;left:27%;text-align: center; min-width:25%'>
            <a onclick="toggleCamera()"><img id='toggleCameraBtn' class='large_button'style='max-height:40px;max-width:65px' src='/static/assets/toggle_switch_on_001.png'/>
            <span id='sensor_toggle_title'>SENSOR 1: ON</span></a>
          </td>
          <td style='position:absolute;top:1%;left:78%;text-align: center'>  
            <a onclick="display_info();"><img class='standard_button' src='/static/assets/info_002.png'/></a>
            </td>
          <td style='position:absolute;top:1%;left:84%;text-align: center'>  
            <a onclick="openSettings();"><img class='standard_button' src='/static/assets/settings_002.png'/></a>
            </td>  
          <td style='position:absolute;top:1%;left:90%;text-align: center'> 
             <a onclick="modal1_click('profile');"><img class='standard_button' src='/static/assets/profile_icon_001.png'/></a>
             </td>
          <td style='position:absolute;top:1%;left:96%;text-align: center'>
             <a onclick="openFullscreen();"><img id='open_fullscreen' class='standard_button' src='/static/assets/icon-navigation-fullscreen_001.png'/></a>
             <a onclick="closeFullscreen();"><img id='close_fullscreen' class='standard_button' src='/static/assets/icon-navigation-fullscreen_exit_001.png' style="display:none"/></a>
          
          </td>
         </tr></table>
       
        <div id='refresh-data'></div><!--Important - this route gets vars from Flask via polling in data.js-->
      </div>
  </section>
  <section class="main" >
  <div id='main'>
   
    <div id='video-canvas'> 
      
       <img class='' id='cameraStream' src="{{ url_for('video_feed') }}" width="100%" style='display:block'>
       <span id='annotateFileStatus' style='position:absolute; top:9%;height: 4%; font-size: 0.5em;color:red'></span>
       <a id='annoLink' style ='color: red;position: absolute;top: 13%;font-size: .5em;'></a>
    </div>
   </div>
  </section>
  
  <section class ="footer">

    <div id='botnav'>
      <div id='bottom-controls'>
          <table><tr>
              <td id="controlCellScore" style='position:absolute;text-align: center'> <a id="toggleScoresLink" onclick="postAPI('scores')"><img id="toggleScoresBtn" class='large_button'src='/static/assets/toggle_switch_on_001.png'/><br><span class="controlBtnLabel">%</span></a></td>
              <td id="controlCellLabel" style='position:absolute;text-align: center'> <a id="toggleLabelsLink" onclick="postAPI('labels')"><img id="toggleLabelsBtn" class='large_button'src='/static/assets/toggle_switch_on_001.png'/><br><span class="controlBtnLabel">Labels</span></a></td>
              <td id="controlCellModel" style='position:absolute;text-align: center'> <a id="switchModelLink" class="myBtn" onclick="postAPI('model');" ><img id='switchModelImg' class='standard_button'  src='/static/assets/models_icon_selected_001.png'/><br><span id='switchModelLabel' class="controlBtnLabel">Demo.90</span></a></td>
              
              <td id="controlCellSpaceBar" style='position:absolute;'> 
              <a id="annotate_btn" onclick="modal1_click('annotate');"><img class='checkid_button' src='/static/assets/annotate_button_001.png'/></a></td>
             
              <td id="controlCellTrain" style='position:absolute;text-align: center'> <a id="trainBtn" class="myBtn"  onclick="postAPI('custom');"><img id='switchCustomImg' class='standard_button'  src='/static/assets/models_icon_001.png'/><br><span id='switchCustomLabel' class="controlBtnLabel">Custom  </span></a></td>
              <td id="controlCellSensor" style='position:absolute;text-align: center'> <a id="sensorBtn" class="myBtn" onclick="selectFile('train');"><img id='switchTrainImg' class='standard_button' src='/static/assets/train_model_001.png'/><br><span id='trainModelLabel'class="controlBtnLabel">Train</span></a></td>
              <td id="controlCellThermal" style='position:absolute;text-align: center'> <a id="thermalBtn" class="myBtn" onclick="modal1_click('thermal');"><img class='large_button' src='/static/assets/toggle_switch_off_001.png'/><br><span id='thermalModelLabel' class="controlBtnLabel">Thermal</span></a></td>
          </tr></table>
        </div>
      </div>
  </section>
  </div>
  <!-- The Modal -->
  <div id="sfModal" class="modal">
      <div class="modal-content">
          <div class="modal-header">
            <span class="close">&times;</span>
            <h2 id="modal_header">Modal Header</h2>
          </div>
          <div class="modal-body">
            <div id="modal_body1">Some text in the Modal Body</div>
            <div id="modal_body2">Some other text...</div>
          </div>
          <div class="modal-footer">
            <h3 id="modal_footer">Modal Footer</h3>
          </div>
        </div>
    </div>
</div>
<!-- The sideNav-->
<div id="sfSidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="#">Capture</a>
  <a href="#">Preview</a>
  <a href="#">Retry</a>
  <a href="#">Train</a>
</div>
<!-- The settings-->
<div id="sfSettings" class="settings">
  <a href="javascript:void(0)" class="sclosebtn" onclick="closeSettings()">&times;</a>
  <a href="/register">Register</a>
  <a href="/login">Logout</a>
  <a href="#" onclick="modal1_click();">Reset Password</a>
  <a onclick="postAPI('quit');">Restart Sensor Fusion </a>
</div>
<div id='fileSelected'></div>


</form>
</body>
</html>



   
