<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Sensor Fusion</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <meta http-equiv="content-type" content="text/html;charset=utf-8" >
    <link rel='stylesheet', href='/static/css/style.css'>
    <script src='/static/js/utilities.js'></script>
</head>
<body>
  <noscript>
    You need to enable JavaScript to run Sensor Fusion!
  </noscript>
  <div class='login-reg-top' id='login'>

  <section class ="">
      <div id=''>
      <img class='logo' src='/static/assets/sensor_fusion_logo_001.png'/>
        <span class='title'>LOGIN</span>
        
          <img class='login-reg-background' src='/static/assets/onboarding_background_001.png'/>
           
      </div>
  </section>
  <section class ="login-reg-main">
    <br><br>
      <strong>LOGIN FIELDS GO HERE</strong>
  </section>
  <section class ="login-reg-foot">
    <div class='login-reg-foot-text'>
      <strong>&copy 2020, De-Risking Strategies, LLC</strong>
      </div>
  </section>
  </div>
</body>
</html>



   
