
.cache/
.config/
.local/
.profile/
.Xauthority
.xsession-errors
.xsession-errors.old
**/logs
**/Demo90-env/
**/checkid-env/
**/__Pycache__/
**requirements.txt
Bookshelf/
Desktop/
Downloads/
Flash-api/
labelImg-master
Music/
Pictures/
Public/
Seekware_SDK_3.6.0.0
**/thermal01-env/
Thumbnails/
Videos/
scratch.txt
.python_history
.labelImgSettings.pkl
.anydesk
.bash_history
.bash_logout
.bashrc
project-posenet-master/models/

drew.txt
